[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "inode/x-empty", use = "edit" },
  { name = "*", use = "edit" },
]
